In [14]:
import pandas as pd 
import zipfile
import kaggle

Documentation on how to use Kaggle API https://www.kaggle.com/docs/api

In [15]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/josh/.kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [16]:
#extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [17]:
#read in the csv file to pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [18]:
# explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [19]:
bikes.shape

(17414, 10)

In [20]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [21]:
# count unique values in the weater_code column
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [22]:
# count the unique values in the season column
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [23]:
# specify a dictionary of the columns that we want to use
new_cols_dict = {
    'timestamp':'time',
    'cnt': 'count',
    't1': 'temp_real_c',
    't2': 'team_feels_like_c',
    'hum': 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'weather_code': 'weather',
    'is_holidy': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

# rename the columsn to specified names from dict
bikes.rename(new_cols_dict, axis=1, inplace=True)

# confirm column names changed
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_c        17414 non-null  float64
 3   team_feels_like_c  17414 non-null  float64
 4   humidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  float64
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [24]:
# change the humidity values to percentage
bikes.humidity_percent = bikes.humidity_percent / 100

In [25]:
# create season dictionary to map integers to actual written values
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

# create a weather dictionary to map integers to actual written values 
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scatter Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with Thunderstorm',
    '26.0':'Snowfall'
}

# change the seasons column to string
bikes.season = bikes.season.astype('str')
# map the values from the dictionary created above 
bikes.season = bikes.season.map(season_dict)

# change weather column to string
bikes.weather = bikes.weather.astype('str')
# map the values fromt he dictionary created above 
bikes.weather = bikes.weather.map(weather_dict)

In [27]:
# write the final dataframe to excel file to use in Tableau
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')